*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/plonetheme
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
/Gruntfile.js
/package.json
/temp_resources/*
/checkouts/wildcard.responsiveslider/
/Gruntfile.js.tango
/Gruntfile.js.working
