*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/plonetheme
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
/Gruntfile.js
/package.json
/src/plonetheme/tango/theme/css/bundle.css
/src/plonetheme/tango/theme/css/bundle.css.map
/src/plonetheme/tango/theme/js/bundle.min.js
/src/plonetheme/tango/theme/js/bundle.min.js.map
/src/plonetheme/tango/theme/js/tango-bundle-compiled.js
/temp_resources/*
