.template-edit #content-core {
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px 30px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

#layout-contents {
    color: #333;
    background: #FFF;
    padding: 30px;
    margin-right: -15px;
    margin-left: -15px;
}
#layout-contents .label{
    color: #333;
}

.portlet {
    background: #FFF;
    opacity: 0.9;
    padding: 30px;
    margin-right: -15px;
    margin-left: -15px;
}